<h1>Listado de libros</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <div class="input-group mb-2 col-8">
            <input type="text" class="form-control" placeholder="Libro que desea buscar..." name="refer" aria-label="Buscar..." aria-describedby="Buscar">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="Search">Buscar</button>
            </div>
            <button routerLink="/book/new" class="btn btn-primary ml-3">
                        <i class="fa fa-plus"></i>
                        Agregar
                    </button>
        </div>
    </div>
    <table *ngIf="!loading && books.length > 0" class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Editorial</th>
                <th scope="col">Género</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.editorial }}</td>
                <td>{{ book.category }}</td>
                <td>
                    <button class="btn btn-info mr-1" [routerLink]="['/book', book.id ]">
                        <i class="fa fa-pen"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deleteBook( book, i )">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!loading && books.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="loading" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>